{
  "openapi": "3.0.0",
  "info": {
    "title": "Diabetes Mobile App API",
    "contact": {},
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://nonprodapi.adapthealth.com/dev/diabetesmobile/{version}/api/",
      "variables": {
        "version": {
          "default": "v1"
        }
      }
    }
  ],
  "paths": {
    "/healthCheck": {
      "get": {
        "tags": [
          "healthCheck"
        ],
        "summary": "HealthCheck_GET",
        "operationId": "HealthCheck_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/HealthCheckresponse"
                    },
                    {
                      "example": {
                        "status": "OK"
                      }
                    }
                  ]
                },
                "example": {
                  "status": "OK"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/patients/validate": {
      "post": {
        "tags": [
          "patients"
        ],
        "summary": "Validate Patient",
        "operationId": "ValidatePatient",
        "parameters": [
          {
            "name": "x-instance-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "$ref": "#/components/schemas/x-instance-id"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PatientsValidateresponse500"
                    },
                    {
                      "example": {
                        "Success": "false",
                        "Message": "Error message here"
                      }
                    }
                  ]
                },
                "example": {
                  "Success": "false",
                  "Message": "Error message here"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientKey}": {
      "get": {
        "tags": [
          "patients"
        ],
        "summary": "Patient Info",
        "operationId": "PatientInfo",
        "parameters": [
          {
            "name": "patientKey",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-instance-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "$ref": "#/components/schemas/x-instance-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Patientsresponse500"
                    },
                    {
                      "example": {
                        "Success": "false",
                        "Message": "Error message here"
                      }
                    }
                  ]
                },
                "example": {
                  "Success": "false",
                  "Message": "Error message here"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientKey}/salesOrders": {
      "get": {
        "tags": [
          "patients"
        ],
        "summary": "Patient Sales Order Details",
        "operationId": "PatientSalesOrderDetails",
        "parameters": [
          {
            "name": "patientKey",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-instance-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "$ref": "#/components/schemas/x-instance-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PatientsSalesOrdersresponse500"
                    },
                    {
                      "example": {
                        "Success": "false",
                        "Message": "Error message here"
                      }
                    }
                  ]
                },
                "example": {
                  "Success": "false",
                  "Message": "Error message here"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/patients/{patientKey}/eligibleItems": {
      "get": {
        "tags": [
          "patients"
        ],
        "summary": "Item Eligibility and Ancillary Items",
        "operationId": "ItemEligibilityandAncillaryItems",
        "parameters": [
          {
            "name": "patientKey",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-instance-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "$ref": "#/components/schemas/x-instance-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PatientsEligibleItemsresponse"
                    },
                    {
                      "example": {
                        "Success": "true",
                        "Data": [
                          {
                            "ItemLevel": "KEY ITEM",
                            "ItemMultiplier": null,
                            "FinalEligibleDate": "2022-08-16T00:00:00",
                            "CMNExpirationDate": null,
                            "ItemName": "G6 MEDICARE TRANSMITTER KIT",
                            "OrderDate": "2022-08-12T00:00:00",
                            "ItemKey": "2569",
                            "LDOS": "2022-05-18T00:00:00",
                            "ItemId": "STTOM001-NS",
                            "LastQTY": "1.0",
                            "SOQty": "1.0",
                            "MaxQTY": "1.0",
                            "PatientKey": "303158",
                            "EarliestOrderDate": "2022-08-01T00:00:00"
                          },
                          {
                            "ItemLevel": "KEY ITEM",
                            "ItemMultiplier": null,
                            "FinalEligibleDate": "2022-08-16T00:00:00",
                            "CMNExpirationDate": null,
                            "ItemName": "NEW G6 MEDICARE SENSOR 3/PK",
                            "OrderDate": "2022-08-12T00:00:00",
                            "ItemKey": "2673",
                            "LDOS": "2022-05-18T00:00:00",
                            "ItemId": "STSOM003 - New",
                            "LastQTY": "3.0",
                            "SOQty": "3.0",
                            "MaxQTY": "3.0",
                            "PatientKey": "303158",
                            "EarliestOrderDate": "2022-08-01T00:00:00"
                          },
                          {
                            "ItemLevel": "KEY ITEM",
                            "ItemMultiplier": null,
                            "FinalEligibleDate": "2022-05-22T00:00:00",
                            "CMNExpirationDate": null,
                            "ItemName": "PARADIGM RESERVOIR, 3.0ml-10/Bx",
                            "OrderDate": "2022-06-28T00:00:00",
                            "ItemKey": "206",
                            "LDOS": "2022-02-21T00:00:00",
                            "ItemId": "MMT332A",
                            "LastQTY": "40.0",
                            "SOQty": null,
                            "MaxQTY": "40.0",
                            "PatientKey": "303158",
                            "EarliestOrderDate": "2022-05-07T00:00:00"
                          },
                          {
                            "ItemLevel": "KEY ITEM",
                            "ItemMultiplier": null,
                            "FinalEligibleDate": "2022-05-22T00:00:00",
                            "CMNExpirationDate": "2022-11-12T00:00:00",
                            "ItemName": "QUICK-SET 9mm, 43 / PARADIGM-10/Bx",
                            "OrderDate": "2022-06-28T00:00:00",
                            "ItemKey": "178",
                            "LDOS": "2022-02-21T00:00:00",
                            "ItemId": "MMT396",
                            "LastQTY": "40.0",
                            "SOQty": null,
                            "MaxQTY": "40.0",
                            "PatientKey": "303158",
                            "EarliestOrderDate": "2022-05-07T00:00:00"
                          }
                        ],
                        "Messages": []
                      }
                    }
                  ]
                },
                "example": {
                  "Success": "true",
                  "Data": [
                    {
                      "ItemLevel": "KEY ITEM",
                      "ItemMultiplier": null,
                      "FinalEligibleDate": "2022-08-16T00:00:00",
                      "CMNExpirationDate": null,
                      "ItemName": "G6 MEDICARE TRANSMITTER KIT",
                      "OrderDate": "2022-08-12T00:00:00",
                      "ItemKey": "2569",
                      "LDOS": "2022-05-18T00:00:00",
                      "ItemId": "STTOM001-NS",
                      "LastQTY": "1.0",
                      "SOQty": "1.0",
                      "MaxQTY": "1.0",
                      "PatientKey": "303158",
                      "EarliestOrderDate": "2022-08-01T00:00:00"
                    },
                    {
                      "ItemLevel": "KEY ITEM",
                      "ItemMultiplier": null,
                      "FinalEligibleDate": "2022-08-16T00:00:00",
                      "CMNExpirationDate": null,
                      "ItemName": "NEW G6 MEDICARE SENSOR 3/PK",
                      "OrderDate": "2022-08-12T00:00:00",
                      "ItemKey": "2673",
                      "LDOS": "2022-05-18T00:00:00",
                      "ItemId": "STSOM003 - New",
                      "LastQTY": "3.0",
                      "SOQty": "3.0",
                      "MaxQTY": "3.0",
                      "PatientKey": "303158",
                      "EarliestOrderDate": "2022-08-01T00:00:00"
                    },
                    {
                      "ItemLevel": "KEY ITEM",
                      "ItemMultiplier": null,
                      "FinalEligibleDate": "2022-05-22T00:00:00",
                      "CMNExpirationDate": null,
                      "ItemName": "PARADIGM RESERVOIR, 3.0ml-10/Bx",
                      "OrderDate": "2022-06-28T00:00:00",
                      "ItemKey": "206",
                      "LDOS": "2022-02-21T00:00:00",
                      "ItemId": "MMT332A",
                      "LastQTY": "40.0",
                      "SOQty": null,
                      "MaxQTY": "40.0",
                      "PatientKey": "303158",
                      "EarliestOrderDate": "2022-05-07T00:00:00"
                    },
                    {
                      "ItemLevel": "KEY ITEM",
                      "ItemMultiplier": null,
                      "FinalEligibleDate": "2022-05-22T00:00:00",
                      "CMNExpirationDate": "2022-11-12T00:00:00",
                      "ItemName": "QUICK-SET 9mm, 43 / PARADIGM-10/Bx",
                      "OrderDate": "2022-06-28T00:00:00",
                      "ItemKey": "178",
                      "LDOS": "2022-02-21T00:00:00",
                      "ItemId": "MMT396",
                      "LastQTY": "40.0",
                      "SOQty": null,
                      "MaxQTY": "40.0",
                      "PatientKey": "303158",
                      "EarliestOrderDate": "2022-05-07T00:00:00"
                    }
                  ],
                  "Messages": []
                }
              }
            }
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PatientsEligibleItemsresponse500"
                    },
                    {
                      "example": {
                        "Success": "false",
                        "Message": "Error message here"
                      }
                    }
                  ]
                },
                "example": {
                  "Success": "false",
                  "Message": "Error message here"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/salesOrders/reorder": {
      "post": {
        "tags": [
          "salesOrders"
        ],
        "summary": "Reorder With Items",
        "operationId": "ReorderWithItems",
        "parameters": [
          {
            "name": "x-instance-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "$ref": "#/components/schemas/x-instance-id"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "example": "388373"
              },
              "examples": {
                "PatientKey": {
                  "value": "388373"
                },
                "PatientNote": {
                  "value": {
                    "NoteReasonKey": "15",
                    "Subject": "Not a Real Order",
                    "Description": "Not a Real Order"
                  }
                },
                "EligibleItems": {
                  "value": [
                    {
                      "ItemId": "STSOR003 - New",
                      "OrderQty": "3"
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SalesOrdersReorderresponse500"
                    },
                    {
                      "example": {
                        "Success": "false",
                        "Message": "Error message here"
                      }
                    }
                  ]
                },
                "example": {
                  "Success": "false",
                  "Message": "Error message here"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/salesOrders/{soKey}/details": {
      "get": {
        "tags": [
          "salesOrders"
        ],
        "summary": "Patient Sales Orders Details",
        "operationId": "PatientSalesOrdersDetails",
        "parameters": [
          {
            "name": "soKey",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-instance-id",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "$ref": "#/components/schemas/x-instance-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          },
          "500": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SalesOrdersDetailsresponse500"
                    },
                    {
                      "example": {
                        "Success": "false",
                        "Message": "Error message here"
                      }
                    }
                  ]
                },
                "example": {
                  "Success": "false",
                  "Message": "Error message here"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "HealthCheckresponse": {
        "title": "HealthCheckresponse",
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "example": {
          "status": "OK"
        }
      },
      "x-instance-id": {
        "title": "x-instance-id",
        "enum": [
          "stlukeshs",
          "ohh",
          "aerocareholdings"
        ],
        "type": "string"
      },
      "PatientsValidateresponse500": {
        "title": "PatientsValidateresponse500",
        "required": [
          "Success",
          "Message"
        ],
        "type": "object",
        "properties": {
          "Success": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        },
        "example": {
          "Success": "false",
          "Message": "Error message here"
        }
      },
      "Patientsresponse500": {
        "title": "Patientsresponse500",
        "required": [
          "Success",
          "Message"
        ],
        "type": "object",
        "properties": {
          "Success": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        },
        "example": {
          "Success": "false",
          "Message": "Error message here"
        }
      },
      "PatientsSalesOrdersresponse500": {
        "title": "PatientsSalesOrdersresponse500",
        "required": [
          "Success",
          "Message"
        ],
        "type": "object",
        "properties": {
          "Success": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        },
        "example": {
          "Success": "false",
          "Message": "Error message here"
        }
      },
      "PatientsEligibleItemsresponse": {
        "title": "PatientsEligibleItemsresponse",
        "required": [
          "Success",
          "Data",
          "Messages"
        ],
        "type": "object",
        "properties": {
          "Success": {
            "type": "string"
          },
          "Data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Datum"
            },
            "description": ""
          },
          "Messages": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          }
        },
        "example": {
          "Success": "true",
          "Data": [
            {
              "ItemLevel": "KEY ITEM",
              "ItemMultiplier": null,
              "FinalEligibleDate": "2022-08-16T00:00:00",
              "CMNExpirationDate": null,
              "ItemName": "G6 MEDICARE TRANSMITTER KIT",
              "OrderDate": "2022-08-12T00:00:00",
              "ItemKey": "2569",
              "LDOS": "2022-05-18T00:00:00",
              "ItemId": "STTOM001-NS",
              "LastQTY": "1.0",
              "SOQty": "1.0",
              "MaxQTY": "1.0",
              "PatientKey": "303158",
              "EarliestOrderDate": "2022-08-01T00:00:00"
            },
            {
              "ItemLevel": "KEY ITEM",
              "ItemMultiplier": null,
              "FinalEligibleDate": "2022-08-16T00:00:00",
              "CMNExpirationDate": null,
              "ItemName": "NEW G6 MEDICARE SENSOR 3/PK",
              "OrderDate": "2022-08-12T00:00:00",
              "ItemKey": "2673",
              "LDOS": "2022-05-18T00:00:00",
              "ItemId": "STSOM003 - New",
              "LastQTY": "3.0",
              "SOQty": "3.0",
              "MaxQTY": "3.0",
              "PatientKey": "303158",
              "EarliestOrderDate": "2022-08-01T00:00:00"
            },
            {
              "ItemLevel": "KEY ITEM",
              "ItemMultiplier": null,
              "FinalEligibleDate": "2022-05-22T00:00:00",
              "CMNExpirationDate": null,
              "ItemName": "PARADIGM RESERVOIR, 3.0ml-10/Bx",
              "OrderDate": "2022-06-28T00:00:00",
              "ItemKey": "206",
              "LDOS": "2022-02-21T00:00:00",
              "ItemId": "MMT332A",
              "LastQTY": "40.0",
              "SOQty": null,
              "MaxQTY": "40.0",
              "PatientKey": "303158",
              "EarliestOrderDate": "2022-05-07T00:00:00"
            },
            {
              "ItemLevel": "KEY ITEM",
              "ItemMultiplier": null,
              "FinalEligibleDate": "2022-05-22T00:00:00",
              "CMNExpirationDate": "2022-11-12T00:00:00",
              "ItemName": "QUICK-SET 9mm, 43 / PARADIGM-10/Bx",
              "OrderDate": "2022-06-28T00:00:00",
              "ItemKey": "178",
              "LDOS": "2022-02-21T00:00:00",
              "ItemId": "MMT396",
              "LastQTY": "40.0",
              "SOQty": null,
              "MaxQTY": "40.0",
              "PatientKey": "303158",
              "EarliestOrderDate": "2022-05-07T00:00:00"
            }
          ],
          "Messages": []
        }
      },
      "Datum": {
        "title": "Datum",
        "required": [
          "ItemLevel",
          "ItemMultiplier",
          "FinalEligibleDate",
          "CMNExpirationDate",
          "ItemName",
          "OrderDate",
          "ItemKey",
          "LDOS",
          "ItemId",
          "LastQTY",
          "SOQty",
          "MaxQTY",
          "PatientKey",
          "EarliestOrderDate"
        ],
        "type": "object",
        "properties": {
          "ItemLevel": {
            "type": "string"
          },
          "ItemMultiplier": {
            "type": "string",
            "nullable": true
          },
          "FinalEligibleDate": {
            "type": "string"
          },
          "CMNExpirationDate": {
            "type": "string",
            "nullable": true
          },
          "ItemName": {
            "type": "string"
          },
          "OrderDate": {
            "type": "string"
          },
          "ItemKey": {
            "type": "string"
          },
          "LDOS": {
            "type": "string"
          },
          "ItemId": {
            "type": "string"
          },
          "LastQTY": {
            "type": "string"
          },
          "SOQty": {
            "type": "string",
            "nullable": true
          },
          "MaxQTY": {
            "type": "string"
          },
          "PatientKey": {
            "type": "string"
          },
          "EarliestOrderDate": {
            "type": "string"
          }
        },
        "example": {
          "ItemLevel": "KEY ITEM",
          "ItemMultiplier": null,
          "FinalEligibleDate": "2022-08-16T00:00:00",
          "CMNExpirationDate": null,
          "ItemName": "G6 MEDICARE TRANSMITTER KIT",
          "OrderDate": "2022-08-12T00:00:00",
          "ItemKey": "2569",
          "LDOS": "2022-05-18T00:00:00",
          "ItemId": "STTOM001-NS",
          "LastQTY": "1.0",
          "SOQty": "1.0",
          "MaxQTY": "1.0",
          "PatientKey": "303158",
          "EarliestOrderDate": "2022-08-01T00:00:00"
        }
      },
      "PatientsEligibleItemsresponse500": {
        "title": "PatientsEligibleItemsresponse500",
        "required": [
          "Success",
          "Message"
        ],
        "type": "object",
        "properties": {
          "Success": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        },
        "example": {
          "Success": "false",
          "Message": "Error message here"
        }
      },
      "SalesOrdersReorderresponse500": {
        "title": "SalesOrdersReorderresponse500",
        "required": [
          "Success",
          "Message"
        ],
        "type": "object",
        "properties": {
          "Success": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        },
        "example": {
          "Success": "false",
          "Message": "Error message here"
        }
      },
      "SalesOrdersDetailsresponse500": {
        "title": "SalesOrdersDetailsresponse500",
        "required": [
          "Success",
          "Message"
        ],
        "type": "object",
        "properties": {
          "Success": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        },
        "example": {
          "Success": "false",
          "Message": "Error message here"
        }
      }
    }
  },
  "tags": [
    {
      "name": "healthCheck",
      "description": ""
    },
    {
      "name": "patients",
      "description": ""
    },
    {
      "name": "salesOrders",
      "description": ""
    }
  ],
  "externalDocs": {
	"description": "API Reference",
	"url": "https://www.apimatic.io/"
	}  
}